<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Strekoza_ImportTool::importtool"
             title="Import New Products"
             translate="title"
             module="Strekoza_ImportTool"
             parent="Magento_Catalog::inventory"
             sortOrder="30"
             dependsOnModule="Strekoza_ImportTool"
             action="importtool/run"
             resource="Strekoza_ImportTool::importtool"/>
    </menu>
</config>